.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  height: 80px;
  background-color: var(--c-primary);
  border-bottom: var(--border-thick);
  box-shadow: 0 4px 0 0 #000000;
  z-index: 100;
}

.header-logo {
  height: 60px;
  filter: drop-shadow(4px 4px 0px #000000);
}
