<main class="main-content" [style.backgroundImage]="sceneService.backgroundStyle()">

  <div class="character-area">
    @if (characterProps()) {
    <app-character [characterProps]="characterProps()!" (interact)="onInteract($event)">
    </app-character>
    }
  </div>

  <!-- Mini-game Overlay -->
  @if (miniGameService.isActive()) {
  <app-mini-game></app-mini-game>
  }

  <app-screen-effects [sceneEffect]="currentNode()?.sceneEffect ?? 'none'" [class.vibrate]="eventService.isVibrating()"></app-screen-effects>
</main>
