<div class="game-screen" (mousemove)="onMouseMove($event)" [class.flashlight-active]="isFlashlightMode"
  [class.scene-flash]="isFlashing" *ngIf="currentNode">
  <!-- Scene Effects Overlay (Flashlight) -->
  <div *ngIf="isFlashlightMode" class="flashlight-mask"
    [style.background]="'radial-gradient(circle 180px at ' + flashlightX + 'px ' + flashlightY + 'px, transparent 0%, rgba(0,0,0,0.92) 100%)'">
  </div>

  <div class="character-area">
    <app-character [characterProps]="characterProps" [isVibrating]="isVibrating" [isFlashing]="isFlashing"
      [isFlashlightMode]="isFlashlightMode" [flashlightX]="flashlightX" [flashlightY]="flashlightY"
      (interact)="onInteract($event)">
    </app-character>
  </div>
</div>