:host {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-size: contain; /* Story mode usually looks better with cover */
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--c-dark);
  overflow: hidden;
}



.character-area {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 2rem;
}

@media (max-width: 768px) {
  .character-area {
    padding-bottom: 0;
    transform: translateY(30px);
  }
}
